
<div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
  <div class="p-4 w-full ">
    <div class="items-center mb-4">
      <h3 class="text-xl font-bold leading-none text-gray-900 dark:text-white">
        <button
            (click)="goToBackPage()"
            class="mx-4 bg-white text-gray-600 active:text-gray-800 font-bold text-xl px-4 py-2 outline-none focus:outline-none mr-1 mb-1"
            type="submit"
          >
          <i class="fas fa-arrow-left"></i>
        </button>
        Ingresos y salidas De La Apertura Nº {{ aperturaId }}
      </h3>
      <div class="flex items-center justify-start pt-2">
        <app-modal-ingreso-salida *ngIf="apertura && apertura.estado" [aperturaId]="aperturaId"></app-modal-ingreso-salida>
      </div>
      <div class="w-full ">
        <div class="flex flex-col">
          <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div class="inline-block py-2 min-w-full sm:px-6 lg:px-8">
                  <div class="overflow-hidden sm:rounded-lg">
                      <table class="min-w-full">
                          <thead class="bg-gray-50 dark:bg-gray-700">
                              <tr >
                                  <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                    Fecha Movimiento
                                  </th>
                                  <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                    Ingreso/Gasto
                                  </th>
                                  <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                    Concepto
                                  </th>
                                  <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                    Bol. cantidad
                                  </th>
                              </tr>
                          </thead>
                          <tbody *ngIf="movimientos" >
                              <tr *ngFor="let movimiento of movimientos " class="bg-white border-b">
                                  <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                      {{ movimiento.createdAt | date:'medium' }}
                                  </td>
                                  <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                      {{ movimiento.tipo? 'INGRESO' : 'GASTO' }}
                                  </td>
                                  <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                      {{ movimiento.concepto }}
                                  </td>
                                  <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                      Bol. {{ movimiento.cantidad }}
                                  </td>
                              </tr>

                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flow-root w-auto flex flex-col justify-center">
      <h3 class="text-xl font-bold leading-none text-gray-900 dark:text-white">
        Total: Bol. {{ totalMovimiento }}
      </h3>
   </div>
  </div>


</div>
