
<div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
  <div class="p-4 w-full ">
    <div class="items-center mb-4">
      <h3 class="text-xl font-bold leading-none text-gray-900 dark:text-white">
        Reportes
      </h3>
      <div class="flex items-center justify-start pt-2">

      </div>
      <div class="w-full ">
        <div class="flex flex-col pt-4 items-baseline w-full">
          <div class="w-full my-2 relative p-2 flex flex-col">
            <h3 class="text-xl font-bold leading-none text-gray-600 dark:text-white">
              Prestamos
            </h3>
            <div class="relative flex flex-wrap m-3">

              <button
                type="button"
                class="w-2/12 mx-2 bg-green-600 text-white active:bg-green-700 font-bold uppercase text-xs px-4 py-2 rounded-md shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                (click)="goToAnotherPage('prestamos')">
                <div class="flex flex-col">
                  <p class="p-3">
                    Prestamos
                  </p>
                  <i class="text-4xl fas fa-calendar"></i>
                </div>
              </button>

              <button
                type="button"
                class="w-2/12 mx-2 bg-green-600 text-white active:bg-green-700 font-bold uppercase text-xs px-4 py-2 rounded-md shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                (click)="goToAnotherPage('pagos')">
                <div class="flex flex-col">
                  <p class="p-3">
                    Pagos
                  </p>
                  <i class="text-4xl fas fa-calendar"></i>
                </div>
              </button>

              <button
                type="button"
                class="w-2/12 mx-2 bg-green-600 text-white active:bg-green-700 font-bold uppercase text-xs px-4 py-2 rounded-md shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                (click)="goToAnotherPage('impresiones')">
                <div class="flex flex-col">
                  <p class="p-3">
                    Reimpresiones
                  </p>
                  <i class="text-4xl fas fa-calendar"></i>
                </div>
              </button>

              <button
                type="button"
                class="w-2/12 mx-2 bg-green-600 text-white active:bg-green-700 font-bold uppercase text-xs px-4 py-2 rounded-md shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                (click)="goToAnotherPage('compra-venta-dolar')">
                <div class="flex flex-col">
                  <p class="p-3">
                    Compra venta Dolar
                  </p>
                  <i class="text-4xl fas fa-calendar"></i>
                </div>
              </button>
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>

</div>
