
<div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
  <div class="p-4 w-full ">
    <div class="items-center mb-4">
      <h3 class="text-xl font-bold leading-none text-gray-900 dark:text-white">
        <button
            (click)="goToBackPage()"
            class="mx-4 bg-white text-gray-600 active:text-gray-800 font-bold text-xl px-4 py-2 outline-none focus:outline-none mr-1 mb-1"
            type="submit"
          >
          <i class="fas fa-arrow-left"></i>
        </button>
        Información del Prestamo Nº {{ prestamo?.id }}
      </h3>
      <div class="flex items-center justify-start pt-2">
        <app-modal-pago></app-modal-pago>
        <app-modal-amortiguar></app-modal-amortiguar>
        <app-modal-impresion-recibo></app-modal-impresion-recibo>
        <app-modal-impresion-contrato></app-modal-impresion-contrato>
        <app-modal-edit-prestamo></app-modal-edit-prestamo>
      </div>
      <div class="w-full ">
        <div class="flex flex-col pt-4 items-baseline w-full">

        </div>
      </div>
    </div>
    <div class="flow-root w-auto flex flex-col justify-center">
      <div *ngIf="prestamo" class="cursor-pointer m-2 w-1/2 border-2 border-green-600 hover:border-green-700 transform hover:-translate-y-1 ease-linear transition-all duration-150">
        <div class="flex items-center space-x-4 px-4 py-2 bg-blueGray-600 ">
            <div class="flex-1 min-w-0">
              <p class="text-xl font-medium text-white truncate dark:text-white">
                  Cliente: {{ prestamo.client.name }}
              </p>
            </div>

            <button
              [popper]="editarFecha"
              [popperTrigger]="'hover'"
              [popperPlacement]="'top'"
              [popperPositionFixed]="true"
              class="text-green-600 text-3xl rounded-full p-1 shadow hover:shadow-md outline-none focus:outline-none ease-linear transition-all duration-150"
              type="button"
              (click)="showCambioFechaModal()">
              <i class="fas fa-calendar"></i>
            </button>
            <popper-content #editarFecha>
              <p class="bold">Editar fecha del prestamo</p>
            </popper-content>

            <button
              [popper]="imprimirContrato"
              [popperTrigger]="'hover'"
              [popperPlacement]="'top'"
              [popperPositionFixed]="true"
              class="text-green-600 text-3xl rounded-full p-1 shadow hover:shadow-md outline-none focus:outline-none ease-linear transition-all duration-150"
              type="button"
              (click)="showImpresionContratoModal()">
              <i class="fas fa-file-invoice"></i>
            </button>
            <popper-content #imprimirContrato>
              <p class="bold">Imprimir contrato</p>
            </popper-content>

            <button
              [popper]="pagoModal"
              [popperTrigger]="'hover'"
              [popperPlacement]="'top'"
              [popperPositionFixed]="true"
              class="text-green-600 text-3xl rounded-full p-1 shadow hover:shadow-md outline-none focus:outline-none ease-linear transition-all duration-150"
              type="button"
              (click)="showPagoModal()">
              <i class="fas fa-money-bill"></i>
            </button>
            <popper-content #pagoModal>
              <p class="bold">Añadir pago</p>
            </popper-content>
        </div>

        <div class="flex items-center space-x-4 px-4 ">
          <div class="flex-1 min-w-0 py-8">
            <div class="text-xl font-medium text-gray-900 truncate dark:text-white flex flex-col">
              Prenda(s):
              <div *ngFor="let inv of prestamo.inventario" class="flex flex-col">
                <p
                  *ngIf="inv.tipo === 'JOYA'"
                  class="text-blue-600 dark:text-blue-500 hover:underline">
                    <a [routerLink]="['/admin/inventario/'+inv.id]">
                      {{ inv.descripcion }} {{ inv.metal }} {{ inv.peso }} {{ inv.pureza }}
                    </a>
                </p>
                <p
                  *ngIf="inv.tipo === 'ARTICULO'"
                  class="text-blue-600 dark:text-blue-500 hover:underline">
                  <a [routerLink]="['/admin/inventario/'+inv.id]">
                    {{ inv.descripcion }} {{ inv.marca }} {{ inv.modelo }} {{ inv.linea }}
                  </a>
                </p>
                <p
                  *ngIf="inv.tipo === 'VEHICULO'"
                  class="text-blue-600 dark:text-blue-500 hover:underline">
                  <a [routerLink]="['/admin/inventario/'+inv.id]">
                    {{ inv.descripcion }} {{ inv.marca }} {{ inv.modelo }} {{ inv.placa }}
                  </a>
                </p>
              </div>
            </div>
            <p class="text-xl font-medium text-gray-900 truncate dark:text-white">
              Usuario: {{ prestamo.user.ci }} {{ prestamo.user.name }}
            </p>
            <p class="text-xl font-medium text-gray-900 truncate dark:text-white">
              MontoPrestamo: Bol. {{ prestamo.costoPrestamo }}
            </p>
            <p class="text-xl font-medium text-gray-500 truncate dark:text-gray-400">
              Interés al finalizar el Plazo: Bol. {{ (prestamo.costoTotal - prestamo.costoPrestamo).toFixed(1) }}
            </p>
            <p class="text-xl font-medium text-gray-500 truncate dark:text-gray-400">
              Monto Total: Bol. {{ prestamo.costoTotal }}
            </p>
            <p class="text-xl font-medium text-gray-500 truncate dark:text-gray-400">
              Monto cancelado: Bol. {{ prestamo.costoCancelado }}
            </p>
            <p class="text-xl font-medium text-gray-500 truncate dark:text-gray-400">
              Por cobrar: Bol. {{ (prestamo.costoTotal - prestamo.costoCancelado).toFixed(1) }}
            </p>
            <p class="text-xl font-medium text-gray-500 truncate dark:text-gray-400">
              Fecha de prestamo: {{ prestamo.fechaInicio | date:'medium' }}
            </p>
            <p class="text-xl font-medium text-gray-500 truncate dark:text-gray-400">
              Fecha de vencimiento: {{ prestamo.fechaFinal | date:'medium' }}
            </p>
            <p class="text-xl font-medium text-gray-500 truncate dark:text-gray-400">
              Estado: {{ prestamo.estado }}
            </p>
            <p class="text-xl font-medium text-gray-500 truncate dark:text-gray-400">
              Dias restantes: {{ diasRestantes }}
            </p>
          </div>
        </div>
      </div>

      <div class="items-center mb-4 ml-2 mt-4">
        <h3 class="text-xl font-bold leading-none text-gray-500 dark:text-white">
          HISTORIAL
        </h3>
      </div>
      <div class="flex flex-col">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block py-2 min-w-full sm:px-6 lg:px-8">
                <div class="overflow-hidden shadow-md sm:rounded-lg">
                    <table class="min-w-full">
                        <thead class="bg-gray-50 dark:bg-gray-700">
                            <tr>
                                <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                  Fecha
                                </th>
                                <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                  Operación
                                </th>
                                <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                  Cargo
                                </th>
                                <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                  Comisión
                                </th>
                                <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                  Cargos Generados
                                </th>
                                <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                  Amortiguado
                                </th>
                            </tr>
                        </thead>
                        <tbody *ngIf="prestamo" >
                            <tr
                              *ngFor="let historial of historialArray"
                              class="bg-white border-b cursor-pointer m-2 transform hover:-translate-y-1 ease-linear transition-all duration-150 "
                              (click)="showImpresionPagoModal(historial)">
                                <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    {{ historial.fecha }}
                                </td>
                                <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                    {{ historial.operacion }}
                                </td>
                                <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                    Bol. {{ historial.cargo }}
                                </td>
                                <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                    Bol. {{ historial.comision }}
                                </td>
                                <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                    Bol. {{ historial.cargoExtra }}
                                </td>
                                <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                    Bol. {{ historial.amortiguado }}
                                </td>
                            </tr>
                            <tr
                              *ngFor="let historial of historialPagosArray"
                              class="bg-white border-b cursor-pointer m-2 transform hover:-translate-y-1 ease-linear transition-all duration-150 "
                              (click)="showImpresionPagoModal(historial)">
                                <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    {{ historial.fecha }}
                                </td>
                                <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                    {{ historial.operacion }}
                                </td>
                                <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                    Bol. {{ historial.cargo }}
                                </td>
                                <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                    Bol. {{ historial.comision }}
                                </td>
                                <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                    Bol. {{ historial.cargoExtra }}
                                </td>
                                <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                    Bol. {{ historial.amortiguado }}
                                </td>
                            </tr>
                            <tr
                              *ngFor="let historial of historialImpresionesArray"
                              class="bg-white border-b cursor-pointer m-2 transform hover:-translate-y-1 ease-linear transition-all duration-150 "
                              (click)="showImpresionPagoModal(historial)">
                                <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    {{ historial.fecha }}
                                </td>
                                <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                    {{ historial.operacion }}
                                </td>
                                <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                    Bol. {{ historial.cargo }}
                                </td>
                                <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                    Bol. {{ historial.comision }}
                                </td>
                                <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                    Bol. {{ historial.cargoExtra }}
                                </td>
                                <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                    Bol. {{ historial.amortiguado }}
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
   </div>
  </div>
</div>
