<nav
  class="md:left-0 md:block md:fixed md:top-0 md:bottom-0 md:overflow-y-auto md:flex-row md:flex-nowrap md:overflow-hidden shadow-xl bg-white flex flex-wrap items-center justify-between relative md:w-64 z-10 py-4 px-6 bg-white"
>
  <div
    class="md:flex-col md:items-stretch md:min-h-full md:flex-nowrap px-0 flex flex-wrap items-center justify-between w-full mx-auto"
  >
    <!-- Toggler -->
    <button
      class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
      type="button"
      (click)="toggleCollapseShow('bg-white m-2 py-3 px-6')"
    >
      <i class="fas fa-bars"></i>
    </button>
    <!-- Brand -->
    <a
      [routerLink]="['/']"
      class=" text-center md:pb-2 text-blueGray-600 mr-0 inline-block whitespace-nowrap text-xl uppercase font-bold p-4 px-0 flex"
    >
      <img class="w-16 h-auto" src="assets/img/logo.png" alt="">
      <div class="ml-2">

        <span class="hidden sm:block"> SISTEMA </span>
        <span class="hidden sm:block"> CAYSOOL </span>
      </div>
    </a>
    <!-- User -->
    <ul class="md:hidden items-center flex flex-wrap list-none">

    </ul>
    <!-- Collapse -->
    <div
      class="md:flex md:flex-col md:items-stretch md:opacity-100 md:relative md:mt-4 md:shadow-none shadow absolute top-0 left-0 right-0 z-40 overflow-y-auto overflow-x-hidden h-auto items-center flex-1 rounded"
      [ngClass]="collapseShow"
    >
      <!-- Collapse header -->
      <div
        class="md:min-w-full md:hidden block pb-4 mb-4 border-b border-solid border-blueGray-200"
      >
        <div class="flex flex-wrap">
          <div class="w-6/12">
            <a
              [routerLink]="['/']"
              class="md:block text-left md:pb-2 text-blueGray-600 mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold p-4 px-0"
            >
              Notus Angular
            </a>
          </div>
          <div class="w-6/12 flex justify-end">
            <button
              type="button"
              class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
              (click)="toggleCollapseShow('hidden')"
            >
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
      </div>
      <!-- Divider -->
      <hr class="my-4 md:min-w-full" />
      <!-- Heading -->
      <h6
        class="md:min-w-full text-blueGray-800 text-xs uppercase font-bold block pt-1 pb-4 no-underline"
      >
        USUARIO: ADMINISTRADOR
      </h6>
       <!-- Divider -->
       <hr class="my-4 md:min-w-full" />
       <!-- Heading -->
      <!-- Navigation -->

      <ul class="md:flex-col md:min-w-full flex flex-col list-none text-center">
        <li class="items-center">
          <a
            [routerLink]="['/admin/panel-control']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #panelControl="routerLinkActive"
            [ngClass]="
              panelControl.isActive
                ? 'bg-gradient-to-r from-green-600 to-green-500 rounded-md text-white hover:text-green-700'
                : 'text-blueGray-500 hover:text-blueGray-700'
            "
          >
            <i
              class="fas fa-tv mr-2 text-sm"
              [ngClass]="
                panelControl.isActive ? 'opacity-75' : 'text-blueGray-300'
              "
            ></i>
            PANEL DE CONTROL
          </a>
        </li>

        <li class="items-center">
          <a
            [routerLink]="['/admin/clientes']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #cliente="routerLinkActive"
            [ngClass]="
              cliente.isActive
                ? 'bg-gradient-to-r from-green-600 to-green-500 rounded-md text-white hover:text-green-700'
                : 'text-blueGray-500 hover:text-blueGray-700'
            "
          >
            <i
              class="fas fa-users mr-2 text-sm"
              [ngClass]="
                cliente.isActive ? 'opacity-75' : 'text-blueGray-300'
              "
            ></i>
            Clientes
          </a>
        </li>

        <li class="items-center">
          <a
            [routerLink]="['/admin/prestamos']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #prestamos="routerLinkActive"
            [ngClass]="
              prestamos.isActive
                ? 'bg-gradient-to-r from-green-600 to-green-500 rounded-md text-white hover:text-green-700'
                : 'text-blueGray-500 hover:text-blueGray-700'
            "
          >
            <i
              class="fas fa-piggy-bank mr-2 text-sm"
              [ngClass]="
                prestamos.isActive ? 'opacity-75' : 'text-blueGray-300'
              "
            ></i>
            Prestamos
          </a>
        </li>

        <li class="items-center">
          <a
            [routerLink]="['/admin/inventario']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #inventario="routerLinkActive"
            [ngClass]="
              inventario.isActive
                ? 'bg-gradient-to-r from-green-600 to-green-500 rounded-md text-white hover:text-green-700'
                : 'text-blueGray-500 hover:text-blueGray-700'
            "
          >
            <i
              class="fas fa-boxes mr-2 text-sm"
              [ngClass]="
                inventario.isActive ? 'opacity-75' : 'text-blueGray-300'
              "
            ></i>
            Inventario
          </a>
        </li>

        <li class="items-center">
          <a
            [routerLink]="['/admin/ingresos-salidas']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #historial="routerLinkActive"
            [ngClass]="
              historial.isActive
                ? 'bg-gradient-to-r from-green-600 to-green-500 rounded-md text-white hover:text-green-700'
                : 'text-blueGray-500 hover:text-blueGray-700'
            "
          >
            <i
              class="fas fa-arrow-right mr-2 text-sm"
              [ngClass]="
                historial.isActive ? 'opacity-75' : 'text-blueGray-300'
              "
            ></i>
            Ingresos y salidas
          </a>
        </li>

        <li class="items-center">
          <a
            [routerLink]="['/admin/reportes']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #historial="routerLinkActive"
            [ngClass]="
              historial.isActive
                ? 'bg-gradient-to-r from-green-600 to-green-500 rounded-md text-white hover:text-green-700'
                : 'text-blueGray-500 hover:text-blueGray-700'
            "
          >
            <i
              class="fas fa-chart-line mr-2 text-sm"
              [ngClass]="
                historial.isActive ? 'opacity-75' : 'text-blueGray-300'
              "
            ></i>
            Reportes
          </a>
        </li>



        <li class="items-center">
          <a
            [routerLink]="['/admin/historial']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #historial="routerLinkActive"
            [ngClass]="
              historial.isActive
                ? 'bg-gradient-to-r from-green-600 to-green-500 rounded-md text-white hover:text-green-700'
                : 'text-blueGray-500 hover:text-blueGray-700'
            "
          >
            <i
              class="fas fa-clock mr-2 text-sm"
              [ngClass]="
                historial.isActive ? 'opacity-75' : 'text-blueGray-300'
              "
            ></i>
            Historial
          </a>
        </li>




      </ul>

      <!-- Divider -->
      <hr class="my-4 md:min-w-full" />
      <!-- Heading -->

    </div>
  </div>
</nav>
