<div class="p-4 w-full ">
  <div class="items-center mb-4">
    <h3 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Lista de Usuarios</h3>
    <div class="flex items-center justify-start pt-2">
      <app-modal-user></app-modal-user>
    </div>
    <div class="w-full ">
      <div class="flex flex-col pt-4 items-baseline w-full ">
        <form
          [formGroup]="ciForm"
        >
          <input
            type="text"
            placeholder="Buscar por CI Ej: 836378..."
            class="border-0 px-3 py-3 placeholder-black-300 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring focus:ring-green-600  w-full ease-linear transition-all duration-150"
            formControlName="ci"
            (ngModelChange)="search($event)"
          >
        </form>
      </div>
    </div>
  </div>
  <div class="flow-root max-w-screen-md">
      <ul *ngIf="response" role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
          <li *ngFor="let user of response.items" class="py-3 sm:py-4">
              <div class="flex items-center space-x-4">
                  <div class="flex-shrink-0">
                      <img class="w-24 h-auto" src="{{user.picture?baseUrl+'/'+user.picture:'assets/img/image-not-found.png'}}" alt="Neil image">
                  </div>
                  <div class="flex-1 min-w-0">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                        Usuario: {{user.name}}
                    </p>
                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                        CI: {{user.ci}}
                    </p>
                  </div>
                  <div class="px-4">
                    <div class="flex flex-col items-baseline  w-full mb-3">
                      <form
                        [formGroup]="rolForm"
                      >
                        <app-select
                          [options]="options"
                          inputLabel="ROL"
                          formControlName="rol"
                          inputFormName="rol"
                          [inputForm]="rolForm"
                          [value]="user.rol"
                          (selectEvent)="changeRol($event, user.id)"
                        ></app-select>
                      </form>
                      </div>
                    </div>
                  <button
                    class="text-3xl rounded-full p-1 shadow hover:shadow-md outline-none focus:outline-none ease-linear transition-all duration-150"
                    [ngClass]="user.isActive? 'text-green-700': 'text-red-500'"
                    (click)="changeUserActive(user.id, user.isActive)"
                    type="button">
                    <i [ngClass]="user.isActive? 'fas fa-check-circle': 'fas fa-times-circle'"></i>
                  </button>
                  <button
                    class="text-sky-600 text-3xl rounded-full p-1 shadow hover:shadow-md outline-none focus:outline-none ease-linear transition-all duration-150"
                    type="button"
                    (click)="showModal(user)">
                    <i class="fas fa-edit"></i>
                  </button>
              </div>
          </li>
      </ul>
 </div>
</div>

<app-pagination
  *ngIf="response"
  [response]="response.meta"
  (pageEvent)="getOnPageResponse($event)"
></app-pagination>
