<div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6  rounded">
  <div class="p-4 w-full ">

    <div class="items-center mb-4 ml-2 mt-4 flex justify-between">
      <h3 class="text-xl font-bold leading-none text-gray-500 dark:text-white">
        Aperturas de Caja
      </h3>
      <app-modal-cierre-apertura></app-modal-cierre-apertura>
      <app-modal-apertura></app-modal-apertura>
    </div>
    <div class="flex flex-col">
      <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="inline-block py-2 min-w-full sm:px-6 lg:px-8">
              <div class="overflow-hidden sm:rounded-lg">
                  <table class="min-w-full">
                      <thead class="bg-gray-50 dark:bg-gray-700">
                          <tr >
                              <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                Fecha Apertura
                              </th>
                              <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                Fecha Cierre
                              </th>
                              <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                Monto Apertura
                              </th>
                              <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                Monto Cierre
                              </th>
                              <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                Estado
                              </th>
                              <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                Acciones
                              </th>
                          </tr>
                      </thead>
                      <tbody *ngIf="response" >
                          <tr *ngFor="let apertura of response.items " class="bg-white border-b">
                              <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                  {{ apertura.fechaApertura | date:'medium' }}
                              </td>
                              <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                  {{ apertura.fechaCierre | date:'medium'}}
                              </td>
                              <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                  Bol. {{ apertura.montoApertura }}
                              </td>
                              <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                  Bol. {{ apertura.montoCierre }}
                              </td>
                              <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                {{ apertura.estado? 'ABIERTO' : 'CERRADO' }}
                              </td>
                              <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400 flex">
                                <button
                                  class="text-xl rounded-full p-1 shadow hover:shadow-md outline-none focus:outline-none ease-linear transition-all duration-150"
                                  (click)="goToAnotherPage(apertura)"
                                  type="button">
                                  <i class="fas fa-eye"></i>
                                </button>
                                <button
                                  *ngIf="apertura.estado"
                                  class="text-red-600 text-xl rounded-full p-1 shadow hover:shadow-md outline-none focus:outline-none ease-linear transition-all duration-150"
                                  (click)="openCerrarAperturaModal(apertura)"
                                  type="button">
                                  <i class="fas fa-lock"></i>
                                </button>
                              </td>
                          </tr>

                      </tbody>
                  </table>
              </div>
          </div>
      </div>
    </div>
</div>

<app-pagination
  *ngIf="response"
  [response]="response.meta"
  (pageEvent)="getOnPageResponse($event)"
></app-pagination>
