<div class="relative flex flex-col min-w-0 break-words  w-full mb-6  rounded">
  <div class="w-full">
    <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row">
      <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
        <a
          class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal"
          (click)="toggleTabs(1)"
          [ngClass]="{'text-blue-500 bg-white': openTab !== 1, 'text-white bg-blue-500': openTab === 1}">
          Clientes
        </a>
      </li>

    </ul>
    <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
      <div class="px-4 py-5 flex-auto">
        <div class="tab-content tab-space">
          <div *ngIf="openTab === 1">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
