<button
  class="text-white text-sm font-bold uppercase px-3 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150 {{theme}}"
  [ngClass]="{
    'cursor-wait': loading,
    'bg-green-600 active:bg-green-700' : btnTheme==='green',
    'bg-sky-700 active:bg-sky-800' : btnTheme==='sky'
  }"
  [disabled]="loading"
  (click)="btnClicked()"
  [type]="btnType"
>
  <i class="fas fa-spinner" [ngClass]="loading? 'animate-spin': 'hidden'"></i> {{ btnText }}
</button>
