
<label
  class="block uppercase text-gray-500 text-xs font-bold mb-2"
  htmlFor="grid-password"
>
  {{ inputLabel }}
</label>
<input
  type="{{ inputType }}"
  class="border-0 px-3 py-3 placeholder-black-300 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring focus:ring-green-600  w-full ease-linear transition-all duration-150"
  placeholder="{{ inputPlaceholder }}"
  [min]="inputMin"
  [max]="inputMax"
  (input)="onInput($event.target.value)"
  (input)="clickInput($event.target.value)"
  [value]="value"
/>
<span
  class="text-red-500"
  *ngFor="let error of inputForm.controls[inputFormName]['errorMessages']"
>
  {{ error }}
</span>
