<div class="p-4 w-full ">
  <div class="items-center mb-4">
    <h3 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Lista de Clientes</h3>
    <div class="flex items-center justify-start pt-2">
      <app-client-modal></app-client-modal>
    </div>
    <div class="w-full ">
      <div class="flex flex-col pt-4 items-baseline w-full ">
        <form
          [formGroup]="ciForm"
        >
          <input
            type="text"
            placeholder="Buscar por CI Ej: 836378..."
            class="border-0 px-3 py-3 placeholder-black-300 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring focus:ring-green-600  w-full ease-linear transition-all duration-150"
            formControlName="ci"
            (ngModelChange)="search($event)"
          >
        </form>
      </div>
    </div>
  </div>
  <div class="flow-root w-auto">
      <ul *ngIf="response" role="list" >
          <li *ngFor="let client of response.items"
              class="cursor-pointer m-2 w-1/2 py-3 sm:py-4 border-2 border-green-600 hover:border-green-700 transform hover:-translate-y-1 ease-linear transition-all duration-150"
              (click)="goToClientInformation(client)">
              <div class="flex items-center space-x-4 px-4">
                  <div class="flex-shrink-0">
                    <i class="fas fa-user-circle text-center text-6xl"></i>
                  </div>
                  <div class="flex-1 min-w-0">
                    <p class="text-xl font-medium text-gray-900 truncate dark:text-white">
                        Cliente: {{ client.name }}
                    </p>
                    <p class="text-xl font-medium text-gray-500 truncate dark:text-gray-400">
                        CI: {{ client.ci }}
                    </p>
                  </div>
              </div>
          </li>
      </ul>
  </div>
</div>

<app-pagination
  *ngIf="response"
  [response]="response.meta"
  (pageEvent)="getOnPageResponse($event)"
></app-pagination>
