<div *ngIf="modal.visible&&modal.modalName==='pagoModal'" class="justify-center items-center flex overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none">
  <div class="relative w-auto my-6 mx-auto max-w-580-px">

    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">

      <div class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t">
        <h4 class="text-2xl font-semibold">
           Pago del prestamo {{ prestamo?.id }}
        </h4>
        <button
          class="p-1 ml-auto border-0 opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
          (click)="closeModal()"
          type="button"
        >
          <span class="opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
            x
          </span>
        </button>
      </div>

      <form
        autocomplete="off"
        [formGroup]="pagoForm"
        (ngSubmit)="save()"
      >
        <div class="my-4 relative p-6 flex flex-wrap">
          <div class="w-full lg:w-6/12 px-4 mb-2">
            <app-select
              [inputForm]="pagoForm"
              [options]="tipoPagoOptions"
              inputLabel="TIPO DE PAGO"
              inputFormName="tipoPago"
              formControlName="tipoPago"
              (selectEvent)="calculateInteresPago()"
              [value]="pagoForm.value.tipoPago">
            </app-select>
          </div>
          <div class="w-full lg:w-6/12 px-4 mb-2">
            <app-select
              [inputForm]="pagoForm"
              [options]="administracionOptions"
              inputLabel="COMISION ADMINISTRATIVA (cargos extra)"
              inputFormName="costoAdministracion"
              formControlName="costoAdministracion"
              [value]="pagoForm.value.costoAdministracion">
            </app-select>
          </div>
          <div class="w-full lg:w-6/12 px-4 mb-2">
            <app-input
              [inputForm]="pagoForm"
              inputLabel="COMISION PISO (cargos extra)"
              inputType="number"
              inputPlaceholder="Ingrese su nombre..."
              inputFormName="costoPiso"
              formControlName="costoPiso"
              [value]="pagoForm.value.costoPiso">
            </app-input>
          </div>
          <div class="w-full lg:w-6/12 px-4 mb-2">
            <app-input
                [inputForm]="pagoForm"
                inputLabel="CANTIDAD A PAGAR"
                inputType="number"
                inputFormName="costoPago"
                formControlName="costoPago"

                [isDisabled]="pagoForm.value.tipoPago==='INTERES'"
                [value]="pagoForm.value.costoPago">
            </app-input>
          </div>

        </div>

        <div class="flex flex-col items-start justify-between px-4 border-b border-solid border-blueGray-200 rounded-t">
          <h4 class="text-xl text-gray-400 font-semibold">
            Interes al final al plazo: Bol. {{ prestamo.costoInteres }}
          </h4>
          <h4 class="text-xl text-gray-400 font-semibold">
            Costo Prestamo: Bol. {{ prestamo.costoPrestamo }}
          </h4>
          <h4 class="text-xl text-gray-400 font-semibold">
            Costo Total: Bol. {{ prestamo.costoTotal }}
          </h4>
          <h4 class="text-2xl font-semibold">
            TOTAL Pago: Bol. {{ (+pagoForm.value.costoAdministracion + +pagoForm.value.costoPiso + +pagoForm.value.costoPago).toFixed(1) }}
          </h4>
        </div>

      <div class="flex items-center justify-end p-6 border-t border-solid border-blueGray-200 rounded-b">
        <button
          class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          (click)="closeModal()"
          type="button"
        >
          Cancelar
        </button>
        <button
          class="mx-4 bg-sky-700 text-white active:bg-sky-700 font-bold uppercase text-xs px-4 py-2 rounded-full shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          type="button"
          (click)="refreshForm()"
        >
          Limpiar
        </button>
        <button
          [disabled]="!pagoForm.valid || loading"
          class="mx-4 bg-sky-700 text-white active:bg-sky-700 font-bold uppercase text-xs px-4 py-2 rounded-full shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          type="submit"
        >
        <i class="fas fa-spinner" [ngClass]="loading? 'animate-spin': 'hidden'"></i> Guardar cambios
        </button>
      </div>

    </form>

    </div>
  </div>
</div>
<div *ngIf="modal.visible&&modal.modalName==='pagoModal'" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
