<label
  for="nombre"
  class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
  {{ inputLabel }}
</label>
<select
  type="text"
  class="border-0 px-3 py-3 placeholder-black-300 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring focus:ring-lime-300  w-full ease-linear transition-all duration-150"
  (change)="clickSelect($event.target.value)"
  [(ngModel)]="value"
  [selectedIndex]="value"
>
  <option
    *ngFor="let option of options"
    value="{{option.value}}">
    {{option.name}}</option>
</select>
<!--<span
  class="text-red-500"
  *ngFor="let error of inputForm.controls[inputFormName]['errorMessages']"
>
  {{ error }}
</span>-->
