<div class="p-4 w-full ">
  <div class="items-center mb-4">
    <h3 class="text-xl font-bold leading-none text-gray-900 dark:text-white">
      <button
          (click)="goToBackPage()"
          class="mx-4 bg-white text-gray-600 active:text-gray-800 font-bold text-xl px-4 py-2 outline-none focus:outline-none mr-1 mb-1"
          type="submit"
        >
        <i class="fas fa-arrow-left"></i>
      </button>
      Información del Cliente
    </h3>
    <div class="flex items-center justify-start pt-2">
      <app-new-prestamo-modal></app-new-prestamo-modal>
      <app-client-modal [modalButton]="false"></app-client-modal>
    </div>
    <div class="w-full ">
      <div class="flex flex-col pt-4 items-baseline w-full">

      </div>
    </div>
  </div>
  <div class="flow-root w-auto flex flex-col justify-center">
    <div *ngIf="prestamoEstado" class="cursor-pointer m-2 w-1/2 border-2 border-green-600 hover:border-green-700 transform hover:-translate-y-1 ease-linear transition-all duration-150">
      <div class="flex items-center space-x-4 px-4 py-2 bg-blueGray-600 ">
          <div class="flex-shrink-0">
            <i class="fas fa-user-circle text-center text-6xl text-white"></i>
          </div>
          <div class="flex-1 min-w-0">
            <p class="text-xl font-medium text-white truncate dark:text-white">
                Cliente: {{ client.name }}
            </p>
            <p class="text-xl font-medium text-gray-200 truncate dark:text-gray-400">
                Prestamos: {{ prestamosTotal }}
            </p>
          </div>
          <button
            [popper]="clientModal"
            [popperTrigger]="'hover'"
            [popperPlacement]="'top'"
            [popperPositionFixed]="true"
            class="text-green-600 text-3xl rounded-full p-1 shadow hover:shadow-md outline-none focus:outline-none ease-linear transition-all duration-150"
            type="button"
            (click)="showClientModal(client)">
            <i class="fas fa-edit"></i>
          </button>
          <popper-content #clientModal>
            <p class="bold">Editar cliente</p>
          </popper-content>

          <button
            [popper]="prestamoModal"
            [popperTrigger]="'hover'"
            [popperPlacement]="'top'"
            [popperPositionFixed]="true"
            class="text-green-600 text-3xl rounded-full p-1 shadow hover:shadow-md outline-none focus:outline-none ease-linear transition-all duration-150"
            type="button"
            (click)="showPrestamoModal(client)">
            <i class="fas fa-plus-square"></i>
          </button>
          <popper-content #prestamoModal>
            <p class="bold">Nuevo Prestamo</p>
          </popper-content>


      </div>
      <div class="flex items-center space-x-4 px-4 ">
        <div class="flex-1 min-w-0 py-8">
          <p class="text-xl font-medium text-gray-900 truncate dark:text-white">
              Fecha de nacimeinto: {{ client.birthDate|date }}
          </p>
          <p class="text-xl font-medium text-gray-500 truncate dark:text-gray-400">
              Correo Electronico: {{ client.email }}
          </p>
          <p class="text-xl font-medium text-gray-500 truncate dark:text-gray-400">
            Celular: {{ client.phone }}
          </p>
          <p class="text-xl font-medium text-gray-500 truncate dark:text-gray-400">
            Domicilio: {{ client.direction }}
          </p>
          <p class="text-xl font-medium text-gray-500 truncate dark:text-gray-400">
            CI: {{ client.ci }}
          </p>
        </div>
      </div>
    </div>

    <div class="my-4 mx-2 flex text-center content-center text-2xl w-1/2 bg-green-600">
      <div class="p-14 bold">
        <div>ACTIVOS</div>
        <div class="text-4xl">{{ prestamoEstado?.activos.cantidad }}</div>
      </div>
      <div class="p-14 bold">
        <div>CANCELADOS</div>
        <div class="text-4xl">{{ prestamoEstado?.cancelados.cantidad }}</div>
      </div>
      <div class="p-14 bold">
        <div>VENCIDOS</div>
        <div class="text-4xl">{{ prestamoEstado?.vencidos.cantidad }}</div>
      </div>

    </div>
    <div class="flow-root w-auto">
      <ul *ngIf="inventario" role="list" >
          <li *ngFor="let inv of inventario; let i=index;"
              class="cursor-pointer m-2 w-1/2 border-2 border-green-600 hover:border-green-700 transform hover:-translate-y-1 ease-linear transition-all duration-150">
              <div
                class="flex items-center"
                (click)="goToInventarioPage(inv)">
                  <div class="text-3xl p-4 bg-green-600">
                    {{i+1}}
                  </div>
                  <div  class="flex-1 min-w-0 mx-6">
                    <p
                      *ngIf="inv.tipo === 'JOYA'"
                      class="text-xl font-medium text-gray-900 truncate dark:text-white">
                        {{ inv.descripcion }} {{ inv.metal }} {{ inv.peso }} {{ inv.pureza }}
                    </p>
                    <p
                      *ngIf="inv.tipo === 'ARTICULO'"
                      class="text-xl font-medium text-gray-900 truncate dark:text-white">
                        {{ inv.descripcion }} {{ inv.marca }} {{ inv.modelo }} {{ inv.linea }}
                    </p>
                    <p
                      *ngIf="inv.tipo === 'VEHICULO'"
                      class="text-xl font-medium text-gray-900 truncate dark:text-white">
                        {{ inv.descripcion }} {{ inv.marca }} {{ inv.modelo }} {{ inv.placa }}
                    </p>
                    <p class="text-xl font-medium text-gray-500 truncate dark:text-gray-400">
                        {{ inv.createdAt|date: 'medium' }}
                    </p>
                  </div>
                  <div class="text-gray-500 text-xl font-bold mr-8">
                    {{ inv.estado === 'EMPENADO'? 'EMPEÑADO': inv.estado }}
                  </div>
              </div>
          </li>
      </ul>
  </div>
 </div>
</div>
