<div class="w-full relative w-auto my-6 mx-auto">
  <!--content-->
  <div class="relative flex flex-col w-full bg-white outline-none focus:outline-none">
    <!--header-->
    <form
      [formGroup]="informationForm"
      (ngSubmit)="save()"
    >
      <div class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t">
        <h3 class="text-3xl font-semibold">
          Datos de moneda
        </h3>
      </div>
      <!--body-->
      <div class="my-4 relative p-6 flex flex-wrap">


        <div class="w-full lg:w-6/12 px-4 pb-4">
          <app-input
            inputLabel="Comision Administrativa"
            inputType="number"
            inputPlaceholder=""
            inputFormName='comission'
            inputcontrolName='comission'
            [inputForm]="informationForm"
          ></app-input>
        </div>

        <div class="w-full lg:w-6/12 px-4 pb-4">
        </div>

        <div class="w-full lg:w-6/12 px-4 pb-4">
          <app-input
            inputLabel="Interes %"
            inputPlaceholder="ej: 0.15"
            inputType="number"
            inputFormName='interest'
            inputcontrolName='interest'
            [inputForm]="informationForm"
          ></app-input>
        </div>

        <div class="w-full lg:w-6/12 px-4">

        </div>

        <div class="w-full lg:w-6/12 px-4 pb-4">
          <app-input
            inputLabel="Cambio oficial de dolar"
            inputPlaceholder="Ingrese el Nº de contacto de la empresa..."
            inputFormName='cambioDolar'
            inputcontrolName='cambioDolar'
            [inputForm]="informationForm"
          ></app-input>
        </div>

        <div class="w-full lg:w-6/12 px-4">
        </div>

        <div class="w-full lg:w-6/12 px-4 pb-4">
          <app-input
            inputLabel="Dirección"
            inputPlaceholder="Ingrese la dirección de la empresa..."
            inputFormName='name'
            inputcontrolName='name'
            [inputForm]="informationForm"
          ></app-input>
        </div>
      </div>
      <!--footer-->
      <div class="flex items-center justify-end p-6 border-t border-solid border-blueGray-200 rounded-b">
        <app-button
          btnType="submit"
          btnText="Guardar cambios"
          [loading]="loading"
        >
        </app-button>
      </div>
    </form>
  </div>
</div>
