<div class="w-full relative w-auto my-6 mx-auto">
  <!--content-->
  <div class="relative flex flex-col w-full bg-white outline-none focus:outline-none">
    <!--header-->
    <div class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t">
      <h4 class="text-2xl font-semibold">
         MONEDA
      </h4>
    </div>
    <form
        autocomplete="off"
        [formGroup]="loginForm"
        (ngSubmit)="save()"
      >
        <div class="my-4 relative p-6 flex flex-wrap">
          <div class="w-full lg:w-6/12 px-4 mb-2">
            <app-input
              [inputForm]="loginForm"
              inputLabel="comisión"
              inputType="text"
              inputPlaceholder="Comision administrativa"
              inputFormName="comission"
              formControlName="comission"
              [value]="loginForm.value.comission">
            </app-input>
          </div>

          <div class="w-full lg:w-6/12 px-4 mb-2">
          </div>

          <div class="w-full lg:w-6/12 px-4 mb-2">
            <app-input
                [inputForm]="loginForm"
                inputLabel="INTERES"
                inputType="text"
                inputPlaceholder="Interes de prestamo"
                inputFormName="interest"
                formControlName="interest"
                [value]="loginForm.value.interest">
            </app-input>
          </div>

          <div class="w-full lg:w-6/12 px-4 mb-2">
          </div>

          <div class="w-full lg:w-6/12 px-4 mb-2">
            <app-input
                [inputForm]="loginForm"
                inputLabel="Cambio Dolar Oficial"
                inputType="number"
                inputPlaceholder="Ingrese su Contraseña..."
                inputFormName="cambioDolar"
                formControlName="cambioDolar"
                [value]="loginForm.value.cambioDolar">
            </app-input>
          </div>
        </div>

      <div class="flex items-center justify-end p-6 border-t border-solid border-blueGray-200 rounded-b">
        <button
          [disabled]="!loginForm.valid || loading"
          class="mx-4 bg-sky-700 text-white active:bg-sky-800 font-bold uppercase text-xs px-4 py-2 rounded-full shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          type="submit"
        >
        <i class="fas fa-spinner" [ngClass]="loading? 'animate-spin': 'hidden'"></i> Guardar cambios
        </button>
      </div>

    </form>
  </div>
</div>
